In [1]:
import pandas as pd

In [3]:
data = pd.ExcelFile("basetodosentregable3feb20171.xlsx")

In [6]:
data_encuesta = data.parse("ENCUESTA")

In [7]:
data_zmm = pd.DataFrame()

In [8]:
Municipios = data_encuesta["MUNICIPIO "].unique()

In [9]:
for municipio in Municipios:
    data_municipio = data_encuesta[data_encuesta["MUNICIPIO "]==municipio]
    if len(data_municipio) == 207:
        data_zmm = pd.concat([data_zmm,data_municipio])

In [10]:
data_zmm["MUNICIPIO "].value_counts()

MONTERREY         207
SAN NICOLÁS       207
SANTA CATARINA    207
APODACA           207
JUAREZ            207
ESCOBEDO          207
GARCÍA            207
GUADALUPE         207
SAN PEDRO         207
Name: MUNICIPIO , dtype: int64

In [16]:
data_zmm["COSTO TOTAL IDA"].value_counts()

ENTRE 10 Y 15 PESOS    518
MÁS DE 20 PESOS        166
ENTRE 15 Y 20 PESOS     51
ENTRE 5 Y 10 PESOS      32
MENOS DE 5 PESOS        20
Name: COSTO TOTAL IDA, dtype: int64

In [18]:
encoding = {"ENTRE 10 Y 15 PESOS": 10, "MÁS DE 20 PESOS": 20, "ENTRE 15 Y 20 PESOS" :15, "ENTRE 5 Y 10 PESOS":5, "MENOS DE 5 PESOS":  0}

In [22]:
filtrados = {}
medios = ["PIE/CAMINA","CAMIÓN/MICROBÚS","RUTA","TAXI","UBER","MOTO","BICICLETA","METRO","AUTO","TRANSMETRO","ECOVÍA","OTRO"]
for medio in medios:
    filtrados[medio] = data_zmm[data_zmm[medio] == 1]
    print(medio)
    print(filtrados[medio]["COSTO TOTAL IDA"].value_counts())

PIE/CAMINA
ENTRE 10 Y 15 PESOS    27
ENTRE 15 Y 20 PESOS     2
ENTRE 5 Y 10 PESOS      1
MÁS DE 20 PESOS         1
Name: COSTO TOTAL IDA, dtype: int64
CAMIÓN/MICROBÚS
ENTRE 10 Y 15 PESOS    465
MÁS DE 20 PESOS         81
ENTRE 15 Y 20 PESOS     38
ENTRE 5 Y 10 PESOS      24
MENOS DE 5 PESOS         3
Name: COSTO TOTAL IDA, dtype: int64
RUTA
ENTRE 10 Y 15 PESOS    5
ENTRE 5 Y 10 PESOS     1
Name: COSTO TOTAL IDA, dtype: int64
TAXI
MÁS DE 20 PESOS        78
ENTRE 10 Y 15 PESOS    11
ENTRE 15 Y 20 PESOS     9
Name: COSTO TOTAL IDA, dtype: int64
UBER
MÁS DE 20 PESOS    4
Name: COSTO TOTAL IDA, dtype: int64
MOTO
Series([], Name: COSTO TOTAL IDA, dtype: int64)
BICICLETA
Series([], Name: COSTO TOTAL IDA, dtype: int64)
METRO
MENOS DE 5 PESOS       9
ENTRE 10 Y 15 PESOS    3
ENTRE 5 Y 10 PESOS     1
MÁS DE 20 PESOS        1
Name: COSTO TOTAL IDA, dtype: int64
AUTO
ENTRE 15 Y 20 PESOS    1
Name: COSTO TOTAL IDA, dtype: int64
TRANSMETRO
MENOS DE 5 PESOS       7
ENTRE 5 Y 10 PESOS     3
ENTRE 10 Y 15 PESOS    3
ENTRE 15 Y 20 PESOS    1
MÁS DE 20 PESOS        1
Name: COSTO TOTAL IDA, dtype: int64
ECOVÍA
ENTRE 10 Y 15 PESOS    5
ENTRE 5 Y 10 PESOS     3
MENOS DE 5 PESOS       1
Name: COSTO TOTAL IDA, dtype: int64
OTRO
Series([], Name: COSTO TOTAL IDA, dtype: int64)

In [26]:
filtrados["AUTO"]["COSTO TOTAL IDA"].fillna("HolaEduardo").value_counts()

HolaEduardo            897
ENTRE 15 Y 20 PESOS      1
Name: COSTO TOTAL IDA, dtype: int64